@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(189, 170, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

html {
  background: url(https://res.cloudinary.com/dxqa0mb8i/image/upload/v1696598627/tareas_2_frsmko.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}