.login_form {
  animation-name: showform_login;
  animation-duration: 1.5s;
  transition: .5s;
}

.welcome_login {
  height: 68vh;
  animation-name: showwelcome_login;
  animation-duration: 1.5s;
  transition: .5s;
}

@keyframes showform_login {
  from {
    position: relative;
    right: 50rem;
    opacity: 0;
  }
  to {
    position: relative;
    right: 0;
    opacity: 100;
  }
}

@keyframes showwelcome_login {
  from {
    position: relative;
    left: 50rem;
    opacity: 0;
  }
  to {
    position: relative;
    left: 0;
    opacity: 100;
  }
}

